repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    language_version:
      python: $(python3 --version | cut -d' ' -f2)
      pyproject_toml: ./pyproject.toml
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
        args: [--config=pyproject.toml]
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v3.0.0a5
    hooks:
      - id: pylint
        files: "up_esb/.*\\.py$"
        args: [
            --rcfile=pyproject.toml,
            --fail-under=8.0,
            --jobs=0,
            --output-format=colorized,
            --disable=import-error,
          ]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        files: "\\.(py)$"
        args: [--settings-path=pyproject.toml]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.7.1" # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        files: "up_esb/.*\\.py$"
        args: [--ignore-missing-imports]
